spring.application.name=bytemarket-api

# Banco de Dados (Use valores genéricos aqui)
spring.datasource.url=jdbc:postgresql://localhost:5432/bytemarket
spring.datasource.username=postgres
spring.datasource.password=sua_senha_local

# JPA
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update

# JWT (Chave vazia ou de exemplo)
jwt.secret=INSIRA_SUA_CHAVE_BASE64_AQUI
jwt.expiration=86400000

# Admin Seeder
admin.email=admin@bytemarket.com
admin.password=${ADMIN_PASSWORD:senha_segura_aqui}